/* RESET */
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* NOT FOUND */
.not-found {
  text-align: center;
  margin: 80px 0;
}

.four-o-four {
  font-weight: bold;
  font-size: 90px;
  color: grey;
}

.not-found-text-1 {
  font-size: 30px;
  color: grey;
}

.not-found-text-2 {
  color: grey;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px 20px;
  background-color: #407294;
  color: #f4f4f4f4;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  margin: 0 10px;
  color: #f4f4f4f4;
}

.logo {
  text-decoration: none;
  color: #f4f4f4f4;
}

.logout-btn {
  background-color: #407294;
  color: #f4f4f4f4;
  border: none;
  font-size: 16px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.fa-user {
  margin-right: 4px;
}

/* MAIN */
.card-container {
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px;
  text-align: center;
  padding: 10px;
}

.card-link {
  text-decoration: none;
  color: #333333;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.card-author {
  font-style: italic;
  margin: 20px;
}

.card-date {
  font-size: 14px;
  margin: 20px;
}

.no-post-message {
  margin: 80px 0;
  width: 100%;
  text-align: center;
  color: grey;
}

.pagination-btn {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.pagination-btn a {
  border: 1px solid grey;
  color: #407294;
  padding: 10px;
  cursor: pointer;
}

.previous-btn,
.next-btn {
  border: 1px solid grey;
  color: #407294;
  padding: 10px;
  cursor: pointer;
}

.pagination-active a {
  background-color: #407294;
  color: #f4f4f4f4;
  cursor: pointer;
}

/* SESSION FORMS */
.session-form {
  margin: 30px;
}

.session-form h2 {
  text-align: center;
}

.session-form fieldset {
  border: none;
  margin-top: 15px;
}

.session-form-input {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 300px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
}

.session-form-submit {
  background-color: #407294;
  color: #f4f4f4f4;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
}

.cancel-btn {
  border: 1px solid black;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  margin-left: 10px;
}

.form-error-container {
  list-style: none;
  margin-top: 5px;
}

.form-error {
  color: red;
}

/* POST */
.post-container {
  margin: 40px;
}

.post-container h2 {
  margin-bottom: 10px;
}

.post-author-date {
  font-style: italic;
  margin-bottom: 10px;
}

.post-content {
  margin: 40px 0;
  line-height: 1.5;
}

.post-container h3 {
  margin-bottom: 10px;
}

.comment-container {
  list-style: none;
}

.comment-form {
  display: flex;
  align-items: center;
}

.comment-textarea {
  resize: none;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  height: 40px;
}

.comment-submit {
  background-color: #407294;
  color: #f4f4f4f4;
  border: none;
  padding: 11px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
}

.no-comments {
  margin: 20px 0;
  text-align: center;
  color: grey;
}

.comment {
  margin: 20px 0;
  border: 1px solid grey;
  padding: 5px;
}

.comment-date {
  margin-left: 5px;
}

.comment-author-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: grey;
  font-size: 12px;
}

.edit-delete-post {
  margin-left: 10px;
}

.fa-trash-alt,
.fa-edit,
.fa-times {
  cursor: pointer;
  color: lightgrey;
}

.fa-times {
  margin-left: 10px;
}

.fa-trash-alt:hover,
.fa-edit:hover,
.fa-times:hover {
  color: grey;
}

.date-close-container {
  display: flex;
  align-items: center;
}

.footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
  padding: 20px;
}

.footer a {
  text-decoration: none;
  color: #333333;
}

@media only screen and (min-width: 688px) {
  /* HEADER */
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
  }

  /* MAIN */
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    width: 600px;
  }

  /* SESSION FORMS */
  .session-form {
    width: 500px;
    margin: 30px auto;
  }

  /* POST */
  .post-container {
    margin: 50px;
  }
}

@media only screen and (min-width: 992px) {
  /* MAIN */
  .cards {
    margin: 30px;
  }

  /* POST */
  .post-container {
    width: 800px;
    margin: 50px auto;
  }
}
